<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <appSettings>
    <!-- Path to the Geopackages directory -->
    <add key="EspGeopackagesPath" value="C:\mounts\gpkgs" />
    <!-- Authentication token -->
    <add key="EspAuthenticationToken" value="" />
  </appSettings>

  <system.web>
    <!-- Tells ASP.NET which version of the framework the code targets -->
    <!-- and enables debugging symbols (useful during development) -->
    <compilation debug="true" targetFramework="4.6.1" />
    <!-- Ensures the runtime targets the correct framework version -->
    <httpRuntime targetFramework="4.6.1" />
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <httpErrors errorMode="Detailed" />
    <handlers>
      <add name="RootRouteGet" path="*" verb="GET" type="EspGisViewer.Routes.RootRoute, EspGisViewer" preCondition="integratedMode" />
      <add name="RootRoutePost" path="*" verb="POST" type="EspGisViewer.Routes.RootRoute, EspGisViewer" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SQLitePCLRaw.batteries_v2" publicKeyToken="8226ea5df37bcae9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.11.2622" newVersion="2.1.11.2622" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SQLitePCLRaw.core" publicKeyToken="1488e028ca7ab535" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.11.2622" newVersion="2.1.11.2622" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

</configuration>
