<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <appSettings>
    <!-- Path to the Geopackages directory -->
    <add key="EspGeopackagesPath" value="C:\Users\tyreece.rozycki\Documents\GitHub\ESP\scratch\data"/>
    <!-- Authentication token -->
    <add key="EspAuthenticationToken" value=""/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <!-- Tells ASP.NET which version of the framework the code targets -->
    <!-- and enables debugging symbols (useful during development) -->
    <compilation debug="true" targetFramework="4.8"/>
    <!-- Ensures the runtime targets the correct framework version -->
    <httpRuntime targetFramework="4.8"/>
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <httpErrors errorMode="Detailed"/>
    <handlers>
      <add name="RootRouteGet" path="*" verb="GET" type="EspGisViewer.Routes.RootRoute, EspGisViewer" preCondition="integratedMode"/>
      <add name="RootRoutePost" path="*" verb="POST" type="EspGisViewer.Routes.RootRoute, EspGisViewer" preCondition="integratedMode"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SQLitePCLRaw.batteries_v2" publicKeyToken="8226ea5df37bcae9" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.1.13.388" newVersion="1.1.13.388"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SQLitePCLRaw.core" publicKeyToken="1488e028ca7ab535" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.1.13.388" newVersion="1.1.13.388"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.5" newVersion="8.0.0.5"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>