<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="RemoteOnly" xdt:Transform="SetAttributes(mode)" />
  </system.web>
  <system.webServer>
    <httpErrors errorMode="DetailedLocalOnly" xdt:Transform="SetAttributes(errorMode)" />
  </system.webServer>
</configuration>
